<!-- #0A151F -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница подготовки к ЕГЭ</title>
</head>
<body>
    <div class="header">
        <h1 class="header_text">ITHub - лучший сайт для подготовки к экзаменам по информатике</h1>
    </div>


    <div class="content">
        <div class="heading">
            <h1>Подготовиться на 90+ баллов самостоятельно - это рельно</h1>
        </div>

        <h2>Наши сервисы для подготовки к ЕГЭ:</h2>

        <div class="content_text">
            <ul>
                <li><a href="tasks/">Задачи</a></li>
                <li><a href="preparation/">Теория</a></li>
            </ul>
        </div>
    </div>

    </div>
</body>
</html>